*
{
padding:0px;
margin:0px;
font-size:16px;
}

body
{
background-color:white;
color:black;
}

#logotop
{
position:absolute;
top:30px;
left:150px;
}

#lspanel
{
position:absolute;
top:30px;
left:1000px;
width:210px;
}

@font-face
{
font-family: myFirstFont;
src: url('comesinhandy.ttf'),
     url('comesinhandy.eot'); /* IE9+ */
}

#pselect
{
position:absolute;
top:40px;
left:870px;
}

#topmenu
{
background-image:url('images/navbg.png');
background-repeat:no-repeat;
position:absolute;
top:90px;
min-width:1348px;
height:70px;
background-position:right top;
}

.menuitem:first-child
{
margin-left:250px;
}

.menuitem
{
position:relative;
top:5px;
margin-left:35px;
display:inline;
color:white;
font-family:myFirstFont;
font-size:37px;
cursor:pointer;
}

.menuitem:hover
{
background-image:url('images/mhoverbg.png');
background-repeat:no-repeat;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
}

#csearch
{
position:relative;
left:970px;
top:-18px;
width:280px;
}

#cbox1
{
height:520px;
width:930px;
font-family:myFirstFont;
font-size:50px;
letter-spacing:2px;
overflow:hidden;
}

#icbox
{
height:470px;
width:870px;
font-family:myFirstFont;
font-size:30px;
letter-spacing:2px;
overflow:hidden;
}

.ie #cbox1
{
height:470px;
width:870px;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-weight:bolder;
overflow:hidden;
}


#footer
{
position:absolute;
left:300px;
top:1120px;
height:180px;
width:700px;
}

#foot td.mcol
{
padding-right:120px;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
}

#foot th
{
color:red;
font-weight:bolder;
font-family:Arial,Helvetica,sans-serif;
}

#footnote
{
font-family:Arial,Helvetica,sans-serif;
font-size:9px;
width:687px;
margin-top:5px;
}

#tacredits
{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
width:687px;
}

#cavename
{
font-family:myFirstFont;
font-size:35px;
font-weight:bolder;
color:black;
}

#cbox2table td.thead
{
font-family:myFirstFont;
font-size:40px;
color:red;
text-align:left;
}

.rdmore
{
color:red;
text-decoration:underline;
font-family:Arial,Helvetica,sans-serif;
cursor:pointer;
}

#ba,#cwn,#jff,#nlife
{
font-size:16px;
font-family:Arial,Helvetica,sans-serif;
}

#rb2
{
padding-left:5px;
}

.caverank
{
padding-right:40px;
}

#viewcaverank
{
color:red;
text-decoration:underline;
position:relative;
left:140px;
top:-20px;
font-size:17px;
}

#cmfm
{
font-family:myFirstFont;
font-size:40px;
font-weight:bolder;
color:red;
}

#cmname,#cmage,#favcave
{
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
color:red;
}

#cmpos
{
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
color:black;
}

a#talink
{
text-decoration:none;
}

a#talink:hover
{
text-decoration:underline;
}

#mcbox
{
height:500px;
width:1000px;
overflow:hidden;
text-align:left;
position:absolute;
left:250px;
top:175px;
}

#cbtn
{
position:relative;
top:-530px;
left:150px;
cursor:pointer;
z-index:2;
}

.ie #icbox
{
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:bolder;
margin-top:18px;
}

#cbtns1
{
position:relative;
top:-950px;
left:600px;
cursor:pointer;
}

.ie #icboxs1
{
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:bolder;
margin-top:18px;
}

#cbox1s1,#cbox1s1 div
{
height:470px;
width:1030px;
font-family:myFirstFont;
font-size:35px;
font-weight:bolder;
overflow:hidden;
}

.ie #cbox1s1
{
height:270px;
width:1030px;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-weight:bolder;
overflow:hidden;
}

ul#hangout
{
list-style-image:url('images/bcup.png');
margin-left:35px;
}

ul#hangout li
{
font-size:35px;
cursor:pointer;
}

ul#hangout li:hover
{
color:red;
}

#crating td
{
width:550px;
}

.ratnum
{
position:relative;
left:85px;
}

#divleft
{
position:absolute;
left:210px;
top:230px;
width:680px;
overflow:none;
}
#tophalf
{
height:297px;
}
#profpic
{
float:left;
}

#usersummary
{
margin-left:250px;
}

#uname
{
font-family: Arial Black, Arial, sans-serif;
font-size:26px;
color:red;
}

.details
{
font-family: Arial, Helvetica, sans-serif;
font-size:15px;
}

.head
{
color:red;
}

.col2
{
padding-left:5px;
}

#caveranks
{
background-color: #efefef;
border-radius: 10px;
margin-top:20px;
}

#crcontent
{
margin-left:10px;
}

#head1
{
font-family:myFirstFont;
font-size:35px;
color:red;
}

#caveranks a
{
color:red;
text-decoration:none;

}
#caveranks a:hover
{
text-decoration:underline;
}

.timestamp
{
color:#5e5e5e;
}

#kl
{
text-align:center;
}

.social
{
float:right;
height:30px;
top: -10px;
margin-right: 10px;
}

.head2
{
font-family: Arial Black, Arial, sans-serif;
font-size:15px;
color:red;
}

hr
{
height:0.05px;
}

#pic
{
float:left;
}

#entry
{
height:280px;
}

.desc
{
text-align:center;
padding-top:100px;
}

.social1
{
height:20px;
top: -10px;
}

#boundary_options {  width:300px;
                     height:400px;
                     margin: 0px 0 0 700px;
					 position:absolute;
					 top:230px;
					 left:300px;
                   

	           }

.options {  
            
            width:250px;
            height:50px;          
            margin-bottom:15px;
            margin-left:20px;
            font-family:myFirstFont;
            
            color:white;
            text-align:center;
            background-image:url('images/redbar.png');
            background-position:center; 
            background-repeat:no-repeat;
            overflow:visible;
            cursor:pointer;
          }

.options a
{
            font-family:myFirstFont;
           
            color:white;
            text-align:center;
            text-decoration:none;
}

.iopt:hover
{
background-image:url('images/mhover3.png');
overflow:visible;
background-size: 150px 55px;
background-position:top; 
background-repeat:no-repeat;
}

.iopt
{
height:100px;
display:block;
font-size:40px;
}

.iopt1
{
background-image:url('images/mhover3.png');
overflow:visible;
background-size: 150px 55px;
background-position:top; 
background-repeat:no-repeat;
height:100px;
display:block;
font-size:40px;
}

#prof
{
position:relative;
top:10px;
}

#categories
{
background-color:#525252;
color:#DDDDDD;
width:153px;
text-indent:8px;
line-height:30px;
position:absolute;
top:45px;
font-size:15px;
left:330px;
z-index: 900;
box-shadow: 3px 3px 1px #888888;
border:5px;
font-family:sans-serif;
}

#bon:hover
{
background-color:#2D2D2D;
cursor:pointer;
padding:0px;;
}

#con:hover
{
background-color:#2D2D2D;
cursor:pointer;
}
#fun:hover
{
background-color:#2D2D2D;
cursor:pointer;
}
#night:hover
{
background-color:#2D2D2D;
cursor:pointer;
}


ul#spend
{
list-style-image:url('images/fball.jpg');

margin-left:35px;
}

ul#spend li
{
font-size:35px;
cursor:pointer;
}

ul#spend li:hover
{
color:red;
}

ul#categ
{
list-style-image:url('images/beer.jpg');
margin-left:35px;
}

ul#categ li
{
font-size:35px;
cursor:pointer;
}

ul#categ li:hover
{
color:red;
}
#ch
{
font-size:35px;
}
#bottom
{
position:relative;
left:-300px;
width:1000px;
height:50px;
overflow:hidden;
}